.container {
  font-size: var(--text-md);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errorFallbackContainer {
  width: 90%;
}

.errorFallbackCardContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.errorFallbackImage {
  flex: 2;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.errorFallbackTextContainer {
  flex: 1.9;
}

.errorFallbackTitle {
  margin-bottom: 2rem;
  color: var(--color-red-light-2);
}
.errorFallbackSubtitle {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.errorFallbackParagraph {
  font-size: 1.5rem;
}

.errorFallbackList {
  margin-left: 4rem;
  margin-top: 1rem;

  list-style: none;

  li::before {
    content: '\2022';
    color: var(--color-button-primary-complement);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 2rem;
  }
}

.fallbackLink,
.fallbackLink:link,
.fallbackLink:visited {
  font-size: 1.8rem;
  justify-self: flex-end;
  align-self: flex-end;
  color: var(--color-button-secondary);
}
.fallbackLink:hover {
  color: var(--color-button-primary);
}
